{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">TechCrunch</h5>
        <div class="card-body">
            <p class="card-text"> TechCrunch is an American online newspaper focusing on high tech and startup companies. It was founded in June 2005 by 
                partners of Archimedes Ventures, Michael Arrington and Keith Teare, and was acquired in 2010 by AOL for $25 million.</p>
            <a href="https://techcrunch.com/" class="btn btn-danger">Know more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}